# Set:

In [3]:
g = {45,'a',45,120,155,450,"Ramu"}
print(g)

{450, 45, 'Ramu', 120, 'a', 155}

In [4]:
g

{120, 155, 45, 450, 'Ramu', 'a'}

In [5]:
h = {}
m = {2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [6]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [11]:
s1 = {34,67,"ramu",0,"lalitha"}
s1.add("prasanna")
print(s1)

{0, 34, 67, 'prasanna', 'lalitha', 'ramu'}

In [8]:
s1

{0, 34, 67, 'lalitha', 'prasanna', 'ramu'}

In [9]:
s1[2]

TypeError: 'set' object is not subscriptable

In [13]:
print(s1)
s1.pop()
print(s1)

{0, 34, 67, 'prasanna', 'lalitha', 'ramu'}
{34, 67, 'prasanna', 'lalitha', 'ramu'}

In [14]:
s1

{34, 67, 'lalitha', 'prasanna', 'ramu'}

In [15]:
print(s1)
s1.pop()
print(s1)

{34, 67, 'prasanna', 'lalitha', 'ramu'}
{67, 'prasanna', 'lalitha', 'ramu'}

In [16]:
print(s1)
s1.pop('ramu')
print(s1)

{67, 'prasanna', 'lalitha', 'ramu'}

TypeError: pop() takes no arguments (1 given)

In [17]:
print(s1)
s1.remove('ramu')
print(s1)

{67, 'prasanna', 'lalitha', 'ramu'}
{67, 'prasanna', 'lalitha'}

In [18]:
print(s1)
s1.remove("prasanna")
print(s1)

{67, 'prasanna', 'lalitha'}
{67, 'lalitha'}

In [19]:
print(s1)
s1.remove(2)
print(s1)

{67, 'lalitha'}

KeyError: 2

In [21]:
s2 = {45,8,32,5,6}
s3 = {1,2,5,7,6,123,456}
print(s2)
print(s3)
print(s3.union(s2))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{32, 1, 2, 5, 6, 7, 456, 8, 45, 123}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

In [22]:
print(s2)
print(s3)
print(s3.intersection(s2))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{5, 6}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

# Dictionary:

In [26]:
t = {'name':("ramu","suresh","tejaswini"),'age':20,'sal':[24.500,48.560]}
print(t,type(t))

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56]} <class 'dict'>

In [30]:
print(t['sal'][0])

24.5

In [31]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [32]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [33]:
print(t.values())

dict_values([('ramu', 'suresh', 'tejaswini'), 20, [24.5, 48.56]])

In [36]:
y = {'name':"tilak","age":[45,59],"sal":0}
print(y)

{'name': 'tilak', 'age': [45, 59], 'sal': 0}

In [37]:
print(t.items())

dict_items([('name', ('ramu', 'suresh', 'tejaswini')), ('age', 20), ('sal', [24.5, 48.56])])

In [ ]:
[(key,value),(),()]

In [40]:
print(t.get('name'))
print(t.get('age'))
print(t.get('no'))

('ramu', 'suresh', 'tejaswini')
20
None

In [41]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56]}

In [43]:
print(t)
t['no'] = [12,78,89,450]
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 12}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': [12, 78, 89, 450]}

In [44]:
print(t)
t['no'] = "yamini"
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': [12, 78, 89, 450]}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini'}

In [45]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini'}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': None}

In [61]:
print(t)
t.update({'tr':45})
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': None}
{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 45}

In [62]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 45}

In [65]:
print(t.update({'tr':"ramu"}))

None

In [66]:
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}

In [68]:
print(t)
print(t.pop('age'))
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}
20
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}

In [69]:
print(t)
print(t.popitem())
print(t)

{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}
('tr', 'ramu')
{'name': ('ramu', 'suresh', 'tejaswini'), 'sal': [24.5, 48.56], 'no': 'yamini'}

In [82]:
q = ['name','age','sal']
w = 78
print(q)
print(w)
f= {}
f.fromkeys(q,w)
print(f)

['name', 'age', 'sal']
78
{}

In [86]:
t = {'name':"ramu",'sno':1}
t1 = {}
t1 = t.fromkeys(q,w)
print(t1)

{'name': 78, 'age': 78, 'sal': 78}

In [88]:
marks = {}.fromkeys(["Maths","Python","C++"],[0,45])
print(marks)

{'Maths': [0, 45], 'Python': [0, 45], 'C++': [0, 45]}

In [ ]:
contact application:
    
    1.Enter new record
    2.Display all records
    3.Update Record
    4.Delete Record

    1. ramu -> not exists
        mobile number -> xxxx
        ramu record Already exists
    2. 
        name      mobile number
        ramu      xxxxxxxxxxx
        rajesh    xxxxxxxxxxx
        
    3. ramu -> exist
        mobile number -> xxxxxxx
        User doesnt exists
    4. ramu -> exist
        User deleted Successfully
        User doesnt exists

In [ ]:
1 Enter new contact
2 Display all contacts
3 Update Contact 
4 Delete Contct
0 Exit
    1   Enter your name: rajesh
        Rajesh Already exists
        Enter your mobile number: xxxxxx
    
    2   Name        Mobilenumber
        Rajesh      xxxxxxxxxx
    
    3   Enter Your name: Rajesh
        Enter Updated mobile number: xxxxxxx
        
        Rajesh1
        Rajesh1 Doesnt exist in your contact
    
    4  Enter Your name: Rajesh
       Rajesh Record deleted successfully
       Rajesh Doesnt exist in your contact