# ## Python Iterators,Data types,Data Structures:
    - List
    - Tuple
    - Set
    - Dictionary

# List:
    - It can stores different data type elements
    - It can be defined as "[]" and type casting as "list()"
    - It consists of index so slicing can be done
    - It stores the value in given format
    - In this the values can be changes
    - It can stores duplicate elements

# Tuple:
    - It can stores different data type elements
    - It can be defined as "()" and type casting as "tuple()"
    - It consists of index and slicing can be done
    - It stores the value in given format
    - In this the values cant be changed
    - It can stores duplicate elements

# Set:
    - It can stores different data type elements
    - It can be defined as "{}" and type casting as "set()" => {a} => set
    - It doest consists of index and slicing can't be done
    - It stores the value in given format but it prints in alphabetical order
    - In this the values can be changes
    - It cant stores the duplicate elements

# Dictionary:
    - It can stores the different data type elements but it follows key and value pairs
    - It can be defined as "{}" by default as type cassting as "dict()"
    - It consists of index but it can be applicate for either keys or values and slicing can be done
    - It stores the value in given format
    - In this the values can be changed
    - It cant stores the duplicate keys but it stores duplicate values

# List:

In [3]:
k = [23,45.26,"rajesh",23,"somu"]
print(k,type(k))

[23, 45.26, 'rajesh', 23, 'somu'] <class 'list'>

In [4]:
a = 15
print(type(a))

<class 'int'>

In [8]:
print(k[2])
print(k[-15])

rajesh

IndexError: list index out of range

In [9]:
print(type(k))

<class 'list'>

In [10]:
print(dir(k))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [11]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [19]:
m = [45,78.56]
print(m)
n = input()
m.append(int(n))
print(m)

[45, 78.56]
45
[45, 78.56, 45]

In [24]:
n = ["tarun",45,148,45.20]
b = n.copy()
print(b,type(b))
print(n)
n.append("prasad")
print(n)
print(b)
b.append("Kumar")
print(n)
print(b)

['tarun', 45, 148, 45.2] <class 'list'>
['tarun', 45, 148, 45.2]
['tarun', 45, 148, 45.2, 'prasad']
['tarun', 45, 148, 45.2]
['tarun', 45, 148, 45.2, 'prasad']
['tarun', 45, 148, 45.2, 'Kumar']

In [32]:
p = [12,15,12,78,'somu',89,'kiran']
# print(p.count(1))
# print(p.count(12))
for n in p:
    print("{} count is: {}".format(n,p.count(n)))

12 count is: 2
15 count is: 1
12 count is: 2
78 count is: 1
somu count is: 1
89 count is: 1
kiran count is: 1

In [31]:
for b in range(len(p)):
    print(b)

0
1
2
3
4
5
6

In [35]:
v = [78,89.1245,"prasad"]
b = ["Somu","Tejaswini",'Lalitha']
v.extend(b)
print(v)
print(b)
b.append(200)
print(v)
print(b)

[78, 89.1245, 'prasad', 'Somu', 'Tejaswini', 'Lalitha']
['Somu', 'Tejaswini', 'Lalitha']
[78, 89.1245, 'prasad', 'Somu', 'Tejaswini', 'Lalitha']
['Somu', 'Tejaswini', 'Lalitha', 200]

In [36]:
v.index(4)

ValueError: 4 is not in list

In [40]:
print(v.index("prasad"))

2

In [60]:
x = [12,15,19,750]
x.insert(0,"Rajesh")
print(x)

['Rajesh', 12, 15, 19, 750]

In [62]:
print(list.insert.__doc__)

Insert object before index.

In [63]:
print(list.count.__doc__)

Return number of occurrences of value.

In [64]:
x

['Rajesh', 12, 15, 19, 750]

In [66]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [67]:
x

['Rajesh', 12, 15, 19, 750]

In [68]:
print(x)
x.pop()
print(x)

['Rajesh', 12, 15, 19, 750]
['Rajesh', 12, 15, 19]

In [70]:
x.pop(1)

12

In [71]:
print(x)

['Rajesh', 15, 19]

In [72]:
y = [45,89.12,76,"prasad","srilaitha","ramesh"]
print(y)

[45, 89.12, 76, 'prasad', 'srilaitha', 'ramesh']

In [74]:
print(y)
y.remove(76)
print(y)

[45, 89.12, 76, 'prasad', 'srilaitha', 'ramesh']
[45, 89.12, 'prasad', 'srilaitha', 'ramesh']

In [75]:
print(y)
y.reverse()
print(y)

[45, 89.12, 'prasad', 'srilaitha', 'ramesh']
['ramesh', 'srilaitha', 'prasad', 89.12, 45]

In [76]:
print(y)
y.sort()
print(y)

['ramesh', 'srilaitha', 'prasad', 89.12, 45]

TypeError: '<' not supported between instances of 'float' and 'str'

In [77]:
p = [45,2,200,1]
print(p)
p.sort()
print(p)

[45, 2, 200, 1]
[1, 2, 45, 200]

In [78]:
k = [45.012,40.125,0.1230]
print(k)
k.sort()
print(k)

[45.012, 40.125, 0.123]
[0.123, 40.125, 45.012]

In [79]:
s = ["abdul","tilak","ramu","zeeshan"]
print(s)
s.sort()
print(s)

['abdul', 'tilak', 'ramu', 'zeeshan']
['abdul', 'ramu', 'tilak', 'zeeshan']

In [81]:
sorted(s)

['abdul', 'ramu', 'tilak', 'zeeshan']

In [82]:
print(s)

['abdul', 'ramu', 'tilak', 'zeeshan']

In [84]:
d = [45,4,400]
f = sorted(d)
print(d)
print(f)

[45, 4, 400]
[4, 45, 400]

In [85]:
print(d)
d.clear()
print(d)

[45, 4, 400]
[]

In [86]:
f = [45,78,96]
print(f)
del f
print(f)

[45, 78, 96]

NameError: name 'f' is not defined

# Tuple:

In [89]:
s = (12,48,79.5678,12,"tarun")
print(s,type(s))

(12, 48, 79.5678, 12, 'tarun') <class 'tuple'>

In [88]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [91]:
print(s)
print(s.count(12))
print(s)

(12, 48, 79.5678, 12, 'tarun')
2
(12, 48, 79.5678, 12, 'tarun')

In [93]:
s.index(48)

1

In [95]:
p = (45,78,12,96,56)
d = list(p)
print(d,type(d))
d.sort()
q = tuple(d)
print(q)

[45, 78, 12, 96, 56] <class 'list'>
(12, 45, 56, 78, 96)