# Markdown

# Python Basics

## Variable
    - To store a data
    - To access the value in particular function or method
    - To Change the value

In [2]:
a = 10

In [3]:
a

10

In [4]:
b = 20

In [5]:
b

20

In [4]:
a = 200
b = 'rajesh'
a,b

(200, 'rajesh')

In [6]:
print(a,b)
print(b,a)

200 rajesh
rajesh 200

## Data Types
    - Int -> only numbers
    - Float -> decimal points
    - String -> either with ' or "

```
    c = 23.000
    t = 'tarun'
```

In [7]:
c,t = 23.000,'tarun'

In [8]:
print(c,t)

23.0 tarun

In [9]:
c

23.0

## Type:
    - To know the data type for that value
    - type(variablename,datastructure)

In [10]:
type(c)

float

In [11]:
g = '12.056'
g

'12.056'

In [12]:
print(g)

12.056

In [13]:
type(g)

str

In [14]:
print(type(g))

<class 'str'>

In [15]:
print(type(c))

<class 'float'>

In [16]:
print(type(a))

<class 'int'>

In [17]:
print(type(a),type(c),type(g))

<class 'int'> <class 'float'> <class 'str'>

In [18]:
a,c,g

(200, 23.0, '12.056')

In [19]:
type(c),type(a),type(g)

(float, int, str)

## Input():
    - By default it will be considered as a string value
    - Print(),read()

In [2]:
a = input()
print(a,type(a))

26
26 <class 'str'>

In [6]:
t = input("Enter a value: ")
print(t,type(t))

Enter a value: r
r <class 'str'>

## TypeCasting
    - Converting one data into another data type
    - int(),str(),float()

In [10]:
p = int(input("Enter only integer values: "))
print(p,type(p))

Enter only integer values: 78
78 <class 'int'>

In [14]:
m = float(input("Enter Float Values: "))
print(m,type(m))

Enter Float Values: 48.95
48.95 <class 'float'>

In [22]:
q = int(input("Enter integer value: "))
k = float(input("Enter Float Values: "))
print("Conversion of int value is: ",float(q))
print("Conversion of float value is: ",int(k))
print("Both cases in string is:"+"'"+str(q)+"'"+" "+"'"+str(k)+"'")

Enter integer value: 45
Enter Float Values: 48.0218
Conversion of int value is:  45.0
Conversion of float value is:  48
Both cases in string is:'45' '48.0218'

````
    Input:
        Enter integer value: 48
        Enter Float value: 45.0218

    Output:
        Conversion of int value is: 48.0
        Conversion of float value is: 45
        Both case in string is: '48' '45.0218'
````